<div class="flex flex-col w-screen h-screen">
    <!--  -->
    <div *ngIf="open" class="duration-300 z-10 fixed top-0 left-0 bg-gray-400 bg-opacity-60 w-full h-full"
        (click)="onClickSideBar(false)">
    </div>

    <!-- Dashboard -->
    <div class="flex w-full h-full">

        <!-- Menu -->
        <nav class="p-4 z-20 top:0 fixed top-0 bottom-0 duration-300 w-max h-full bg-white shadow-2xl
        lg:left-0 lg:my-0 lg:w-80 lg:relative border-r border-gray-200 overflow-auto"
            [ngClass]="{ 'left-0'  : open == true, 'left-[-330px]' : open == false }">

            <div class="flex flex-col h-full divide-y divide-color-divide">

                <!-- Marca -->
                <div class="flex justify-center">
                    <img class="h-32 w-32" src="./../../../../../assets/logo.svg" alt="">
                </div>

                <!-- Menu -->
                <div class="flex flex-col divide-y divide-color-divide grow">

                    <!-- Menu INICIO-->
                    <div class="py-4">
                        <app-custom-menu-button
                            [id]="'id_menu_inicio'"
                            [label]="'Inicio'"
                            [icon]="'fa-solid fa-shapes fa-lg'"
                            [submenu]="true"
                            [spanClass]="' hidden'"
                            [selected]="menuSelected" 
                            (click)="onClickSetMenuSelected('Inicio', null)">
                        </app-custom-menu-button>

                        <!-- SubMenu -->
                        <div class="flex flex-col ml-12">
                        </div>
                    </div>

                    <!-- Menu GRAFICOS-->
                    <div class="py-4">
                        <app-custom-menu-button
                            [id]="'id_menu_inicio'"
                            [label]="'Gráficos'"
                            [icon]="'fa-solid fa-chart-pie fa-lg'"
                            [submenu]="true"
                            [spanClass]="' hidden'"
                            [selected]="menuSelected" 
                            (click)="onClickSetMenuSelected('Gráficos', null)">
                        </app-custom-menu-button>

                        <!-- SubMenu -->
                        <div class="flex flex-col ml-12">
                        </div>
                    </div>

                    <!-- Menu SERVICIOS -->
                    <div class="py-4">
                        <app-custom-menu-button
                            [id]="'id_menu_servicios'"
                            [label]="'Servicios'"
                            [icon]="'fa-solid fa-shapes fa-lg'"
                            [submenu]="true"
                            [spanClass]="''"
                            [selected]="menuSelected" 
                            (click)="onClickSetMenuSelected('Servicios', Servicios)">
                        </app-custom-menu-button>
                        
                        <!-- SubMenu -->
                        <div class="flex flex-col ml-12 overflow-hidden h-0" #Servicios>
                            <!-- Especificos -->
                            <app-custom-sub-menu-button
                                [id]="'id_submenu_servicios_especificos'"
                                [label]="'Específicos'"
                                [icon]="''"
                                [submenu]="true"
                                [selected]="subMenuSelected"
                                (click)="onClickSetSubMenuSelected('Servicios', 'Específicos')" >
                            </app-custom-sub-menu-button>

                            <!-- Generales -->
                            <app-custom-sub-menu-button
                                [id]="'id_submenu_servicios_generales'"
                                [label]="'Generales'"
                                [icon]="''"
                                [submenu]="true"
                                [selected]="subMenuSelected"
                                (click)="onClickSetSubMenuSelected('Servicios', 'Generales')" >
                            </app-custom-sub-menu-button>
                        </div>
                    </div>

                    <!-- Menu GASTOS -->
                    <div class="py-4">
                        <app-custom-menu-button
                            [id]="'id_menu_gastos'"
                            [label]="'Gastos'"
                            [icon]="'fa-solid fa-circle-dollar-to-slot fa-lg'"
                            [submenu]="true"
                            [spanClass]="' hidden'"
                            [selected]="menuSelected" 
                            (click)="onClickSetMenuSelected('Gastos', null)">
                        </app-custom-menu-button>
                        
                        <!-- SubMenu -->
                        <div class="flex flex-col ml-12 overflow-hidden h-0">
                            <!-- Gastos 
                            <app-custom-sub-menu-button
                                [id]="'id_submenu_servicios_especificos'"
                                [label]="'Lista'"
                                [icon]="''"
                                [submenu]="true"
                                [selected]="subMenuSelected"
                                (click)="onClickSetSubMenuSelected('Gastos', 'Lista')" >
                            </app-custom-sub-menu-button> -->
                        </div>
                    </div>

                    <!-- Menu MATENIMIENTO -->
                    <div class="py-4">
                        <app-custom-menu-button
                            [id]="'id_menu_mantenimiento'"
                            [label]="'Mantenimiento'" 
                            [icon]="'fa-solid fa-toolbox fa-lg'" 
                            [submenu]="true"
                            [spanClass]="''"
                            [selected]="menuSelected"
                            (click)="onClickSetMenuSelected('Mantenimiento', Mantenimiento)" >
                        </app-custom-menu-button>

                        <!-- SubMenu -->
                        <div class="flex flex-col ml-12 h-0 overflow-hidden" #Mantenimiento>
                            <app-custom-sub-menu-button 
                                [id]="'id_submenu_mantenimiento_parametro'"
                                [label]="'Parámetro'" 
                                [icon]="''"
                                [submenu]="true"
                                [selected]="subMenuSelected"
                                (click)="onClickSetSubMenuSelected('Mantenimiento', 'Parámetro')" >
                            </app-custom-sub-menu-button>

                            <app-custom-sub-menu-button 
                                [id]="'id_submenu_mantenimiento_agregar'"
                                [label]="'Agregar Cliente'"
                                [icon]="''"
                                [submenu]="true"
                                [selected]="subMenuSelected"
                                (click)="onClickSetSubMenuSelected('Mantenimiento', 'Agregar Cliente')" >
                            </app-custom-sub-menu-button>

                            <app-custom-sub-menu-button 
                                [id]="'id_submenu_mantenimiento_Clientes'"
                                [label]="'Clientes'"
                                [icon]="''"
                                [submenu]="true"
                                [selected]="subMenuSelected"
                                (click)="onClickSetSubMenuSelected('Mantenimiento', 'Clientes')" >
                            </app-custom-sub-menu-button>

                            <app-custom-sub-menu-button 
                                [id]="'id_submenu_mantenimiento_Empresas'"
                                [label]="'Empresas'"
                                [icon]="''"
                                [submenu]="true"
                                [selected]="subMenuSelected"
                                (click)="onClickSetSubMenuSelected('Mantenimiento', 'Empresas')" >
                            </app-custom-sub-menu-button>

                            <app-custom-sub-menu-button 
                                [id]="'id_submenu_mantenimiento_usuarios'"
                                [label]="'Usuarios'"  
                                [icon]="''"
                                [submenu]="true"
                                [selected]="subMenuSelected"
                                (click)="onClickSetSubMenuSelected('Mantenimiento', 'Usuarios')" >
                            </app-custom-sub-menu-button>

                            <app-custom-sub-menu-button 
                                [id]="'id_submenu_mantenimiento_proovedores'"
                                [label]="'Proovedores'"  
                                [icon]="''"
                                [submenu]="true"
                                [selected]="subMenuSelected"
                                (click)="onClickSetSubMenuSelected('Mantenimiento', 'Proovedores')" >
                            </app-custom-sub-menu-button>
                        </div>
                    </div>

                    <div class="pt-4">

                    </div>
                </div>

                <!-- Footer -->
                <div class="py-2 flex flex-col items-center">
                    <img class="w-full h-12 rounded-full fill-color-icon-1" src="./../../../../../assets/logo-elohim.svg" alt="">
                    <p class="text-xs text-color-text text-center font-medium">© 2024 Elohim. Todos los derechos
                        reservados
                    </p>
                </div>

            </div>

        </nav>

        <!-- Header/Holder -->
        <div class="flex flex-col w-full h-full">

            <header class="flex items-center p-5 shadow-lg bg-white w-full h-max border-b border-gray-200">

                <!-- menu burguer -->
                <span class="lg:hidden p-2 text-color-text cursor-pointer mr-2" (click)="onClickSideBar(true)">
                    <i class="fa-solid fa-bars fa-lg"></i>
                </span>

                <!-- Title -->
                <p class="font-semibold text-xl text-color-text w-max flex-grow">{{ title }}</p>

                <!-- Profile -->
                <div class="flex items-center ms-3">
                    <button type="button" class="text-sm rounded-full mx-4" data-popover-target="popover-animation">
                        <img *ngIf="userLogeado.img == ''" 
                            class="w-8 h-8 rounded-full"
                            src="./../../../../../assets/blank-profile.webp" 
                            alt="user img">

                        <img
                            *ngIf="userLogeado.img != ''" 
                            class="w-8 h-8 rounded-full" 
                            [src]="userLogeado.img" 
                            alt="user photo">
                      </button>

                    <div data-popover id="popover-animation" role="tooltip"
                        class="absolute z-20 invisible inline-block w-max text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0">

                        <div class="flex flex-col">
                            <div class="flex gap-3 bg-color-text w-full h-max px-8 py-4 rounded-t-lg">
                                <button type="button" class="rounded-full">
                                    <img *ngIf="userLogeado.img == ''" 
                                        class="w-8 h-8 rounded-full"
                                        src="./../../../../../assets/blank-profile.webp" 
                                        alt="user img">
            
                                    <img
                                        *ngIf="userLogeado.img != ''" 
                                        class="w-8 h-8 rounded-full" 
                                        [src]="userLogeado.img" 
                                        alt="user photo">
                                </button>
                                <div class="flex flex-col flex-grow">
                                    <p class="text-color-white text-base font-medium">
                                        {{ userLogeado.nombres }} {{ userLogeado.apellidos }}
                                    </p>
                                    <p class="text-color-white text-sm font-light">
                                        {{ userLogeado.user }}
                                    </p>
                                    <p class="text-color-white text-xs font-thin">
                                        {{ userLogeado.rol }}
                                    </p>
                                </div>
                            </div>
                            
                            <div class="flex flex-col gap-3 w-full p-4">
                                <p>CI: {{ userLogeado.ci }} {{ userLogeado.exp }}</p>
                                <p>Celular:{{ userLogeado.code }} {{ userLogeado.celular }}</p>
                                <p>Estado: {{ userLogeado.estado }}</p>
                                <div class="flex gap-3 w-full">
                                    <app-custom-button class="w-full" *ngIf="false"
                                        [id]="'id_profile'"
                                        [label]="'Perfil'"
                                        [type]="'cancel'"
                                        [icon]="''" 
                                        [class]="''"
                                        [valid]="true" >
                                    </app-custom-button>

                                    <app-custom-button class="w-full"
                                        [id]="'id_log_out'"
                                        [label]="'Cerrar Sesión'"
                                        [type]="'accept'"
                                        [icon]="''" 
                                        [class]="''"
                                        [valid]="true"
                                        (click)="onClickLogOut()" >
                                    </app-custom-button>
                                </div>
                            </div>                            
                        </div>

                        <div class="bg-color-text" data-popper-arrow></div>
                    </div>
                </div>

            </header>

            <!-- holder -->
            <div class="relative p-4 w-full h-full overflow-auto">
                <router-outlet></router-outlet>
            </div>

        </div>

    </div>

</div>