<div class="w-full h-full">
    <app-custom-alert-input *ngIf="showAlertDescuento"
        [id]="'id_input_number'"
        [title]="'Descuento'"
        [label]="'%'"
        [type]="'number'"
        [class]="''"
        [icon]="''"
        (onResponse)="inputDescuentoResponse($event)" >
    </app-custom-alert-input>

    <app-custom-alert-search class="w-full h-full" *ngIf="showBusqueda" 
    [type]="'cliente'"
    (response)="busquedaClienteResponse($event)">
    </app-custom-alert-search>

    <app-custom-alert-search-servicio 
        class="w-full h-full" *ngIf="showBusquedaServicio" 
        (response)="servicioSelectResponse($event)">
    </app-custom-alert-search-servicio>

    <app-custom-alert-date-picker *ngIf="showDatePicker"
        [label]="labelDatePicker"
        [fecha]="fechaSendDatePicker"
        [type]="typeDatePicker"
        (response)="fechaSelectResponse($event)">
    </app-custom-alert-date-picker>

    <form *ngIf="!showBusqueda && !showDatePicker && !showBusquedaServicio && !showAlertDescuento" class="flex flex-col gap-4 w-full h-max overflow-auto">
        
        <!-- Title -->
        <app-custom-title
            class="w-full text-center"
            [id]="'id_titlte'"
            [label]="'FORMULARIO DE COTIZACIÓN DE LABORATORIO'"
            [class]="'uppercase w-full h-full text-3xl'">
        </app-custom-title>
        <br>

        <!-- Fecha/Codigo -->
        <div class="flex gap-4">
            <!-- Fecha Solicitud -->        
            <app-custom-label1
                [ngClass]="{'cursor-pointer': typeRecive != 'ver'}"
                [id] = "'id_label_fecha_solicitud'"
                [label] = "'Fecha Solicitud'"
                [text] = "transformFecha('Solicitud')"
                (click)="onClickShowFechaSelect('Solicitud', 'Fecha Solicitud')">
            </app-custom-label1>

            <!-- Fecha Emision -->
            <app-custom-label1
                [ngClass]="{'cursor-pointer': typeRecive != 'ver'}"
                [id] = "'id_label_fecha_emision'"
                [label] = "'Fecha Emisión'"
                [text] = "transformFecha('Emision')"
                (click)="onClickShowFechaSelect('Emision', 'Fecha Emisión')">
            </app-custom-label1>

            <div class="flex-grow"></div>

            <!-- Codigo Cotizacion -->
            <app-custom-label1
                [id] = "''"
                [label] = "'Código de cotización'"
                [text] = "formCotizacion.controls.cod_cotizacion.value">
            </app-custom-label1>
        </div>

        <!-- Técnico -->
        <div class="flex flex-col border border-dashed border-color-text rounded-lg w-full h-max p-2">
            <!-- Subtitle / Cabecera -->
            <div class="flex w-full mb-2">
                <app-custom-sub-title
                    [id]="''"
                    [label]="'Datos del Técnico'"
                    [class]="''">
                </app-custom-sub-title>
            </div>

            <div class="flex gap-4 flex-wrap ">
                <!-- Técnico / Nombre -->
                <app-custom-label1
                    [id]="''"
                    [label]="'Técnico'"
                    [text]="tecnicoUser.nombres + ' ' + tecnicoUser.apellidos"
                    [class]="''" >
                </app-custom-label1>

                <!-- Técnico / Celular -->
                <app-custom-label1
                    [id]="''"
                    [label]="'Celular'"
                    [text]="tecnicoUser.code + ' ' + tecnicoUser.celular"
                    [class]="''" >
                </app-custom-label1>

                <!-- Técnico / Rol -->
                <app-custom-label1
                    [id]="''"
                    [label]="'Rol'"
                    [text]="tecnicoUser.rol"
                    [class]="''" >
                </app-custom-label1>
            </div>
        </div>

        <!-- Cliente -->
        <div class="w-full grid grid-cols-2 gap-4">
            
            <!-- Persona -->
            <div class="flex flex-col border border-dashed border-color-text rounded-lg w-full h-full p-2">
                <!-- Subtitle / Cabecera -->
                <div class="flex gap-4 w-full mb-2">
                    <app-custom-sub-title
                        [id]="''"
                        [label]="'Datos del Cliente'"
                        [class]="''">
                    </app-custom-sub-title>

                    <app-custom-icon
                        *ngIf="typeRecive == 'agregar'"
                        [icon]="'fa-solid fa-magnifying-glass fa-lg cursor-pointer'" 
                        [class]="'h-full text-color-icon-2 hover:bg-primary-100 rounded'"
                        (click)="onClickBusquedaCliente()">
                    </app-custom-icon>
                </div>
                
                <div class="flex gap-4 flex-wrap ">
                    <!-- Persona / Nombre -->
                    <app-custom-label1
                        [id]="''"
                        [label]="'Nombre'"
                        [text]="personaC.nombre_persona"
                        [class]="''" >
                    </app-custom-label1>

                    <!-- Persona / Email -->
                    <app-custom-label1
                        [id]="''"
                        [label]="'Email'"
                        [text]="personaC.email"
                        [class]="''" >
                    </app-custom-label1>

                    <!-- Persona / Celular -->
                    <app-custom-label1
                        [id]="''"
                        [label]="'Celular'"
                        [text]="personaC.celular"
                        [class]="''" >
                    </app-custom-label1>

                    <!-- Persona / Razon -->
                    <app-custom-label1
                        *ngIf="personaC.id_empresa  ==  0"
                        [id]="''"
                        [label]="'Razón'"
                        [text]="personaC.razon"
                        [class]="''" >
                    </app-custom-label1>

                    <!-- Persona / Nit -->
                    <app-custom-label1
                        *ngIf="personaC.id_empresa  ==  0"
                        [id]="''"
                        [label]="'NIT'"
                        [text]="personaC.nit"
                        [class]="''" >
                    </app-custom-label1>
                </div>
                
            </div>

            <!-- Empresa -->
            <div class="flex flex-col border border-dashed border-color-text rounded-lg w-full h-full p-2">
                <!-- Subtitle / Cabecera -->
                <div class="flex gap-4 w-full mb-2">
                    <app-custom-sub-title
                        [id]="''"
                        [label]="'Datos de la Empresa'"
                        [class]="''">
                    </app-custom-sub-title>

                    <app-custom-icon
                        [icon]="''" 
                        [class]="'h-full text-color-icon-2'">
                    </app-custom-icon>
                </div>

                <div class="flex gap-4 flex-wrap ">
                    <!-- Empresa / Razon -->
                    <app-custom-label1
                        [id]="''"
                        [label]="'Empresa'"
                        [text]="empresaC.razon_social"
                        [class]="''" >
                    </app-custom-label1>

                    <!-- Empresa / Nit -->
                    <app-custom-label1
                        [id]="''"
                        [label]="'NIT'"
                        [text]="empresaC.nit"
                        [class]="''" >
                    </app-custom-label1>

                    <!-- Empresa / Direccion -->
                    <app-custom-label1
                        [id]="''"
                        [label]="'Dirección'"
                        [text]="empresaC.direccion"
                        [class]="''" >
                    </app-custom-label1>

                    <!-- Empresa / Telefono -->
                    <app-custom-label1
                        [id]="''"
                        [label]="'Teléfono'"
                        [text]="empresaC.telefono"
                        [class]="''" >
                    </app-custom-label1>

                    <!-- Empresa / Web -->
                    <app-custom-label1
                        [id]="''"
                        [label]="'Web'"
                        [text]="empresaC.web"
                        [class]="''" >
                    </app-custom-label1>

                    <!-- Empresa / Lugar -->
                    <app-custom-label1
                        [id]="''"
                        [label]="'Lugar'"
                        [text]="empresaC.pais + ' - '+ empresaC.ciudad"
                        [class]="''" >
                    </app-custom-label1>
                </div>
                
            </div>

        </div>

        <!-- Observacion -->
        <app-custom-input 
            [id]="'id_user'" 
            [label]="'Observaciones'" 
            [type]="'text'" 
            [autocomplete]="''"
            [class]="''"
            [control]="formCotizacion.controls.observacion" 
            [icon]="''">
        </app-custom-input>

        <!-- Muestras -->
        <div class="flex flex-col border border-dashed border-color-text rounded-lg w-full p-2">
            <!-- Subtitle / Cabecera -->
            <div class="flex gap-4 w-full mb-2">
                <app-custom-sub-title
                    [id]="''"
                    [label]="servicioSelected?.nombre"
                    [class]="''">
                </app-custom-sub-title>
            </div>

            <!-- Table -->
            <div class="w-full h-max">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 border shadow-lg">
                    <!-- Header -->
                    <thead class="text-xs text-color-text uppercase bg-primary-100">
                        <tr>
                            <th scope="col" class="px-2 py-2 text-center" style="width: 2%;">
                                
                            </th>

                            <th scope="col" class="px-2 py-2 text-center" style="width: 2%;">
                                #
                            </th>

                            <th scope="col" class="px-2 py-2" style="width: fit-content;">
                                Nombre
                            </th>

                            <th scope="col" class="px-2 py-2" style="width: fit-content;">
                                descripción
                            </th>

                            <th scope="col" class="px-2 py-2 w-max text-center">
                                Costo
                            </th>
                        </tr>
                    </thead>

                    <!-- Body -->
                    <tbody>
                        <ng-container *ngFor="let item of dataSubServicios, index as i">
                            <tr class="bg-white border-y" fragment="">
                                <th class="px-2 py-2 font-medium text-gray-900 text-center">
                                    <input type="checkbox" name="checkbox" [checked]="item.boolean" (click)="setValueCheckBox(i, item.boolean)" *ngIf="typeRecive == 'agregar'">
                                </th>
                                
                                <th class="px-2 py-2 font-medium text-gray-900 text-center">
                                    {{ i + 1 }}
                                </th>
    
                                <th class="px-2 py-2 font-medium text-gray-900">
                                    {{ item.sub_servicio.nombre }}
                                </th>
    
                                <td class="px-2 py-2">
                                    {{ item.sub_servicio.descripcion }}
                                </td>
    
                                <td class="px-2 py-2 text-center">
                                    {{ item.sub_servicio.costo_directo }}
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>

        </div>

        <!-- Costos -->
        <div class="flex gap-4 flex-row-reverse">
            <div class="flex flex-col gap-2 w-max">
                <app-custom-label0
                    [id] = "'id_label_total_pagar'"
                    [label] = "'Total Pagar'"
                    [text] = "transformCostos('Total Pagar') | currency:'BOB':'Bs. '"
                    [class]="'w-full'" >
                </app-custom-label0>

                <app-custom-label0
                    [ngClass]="{'cursor-pointer': typeRecive == 'agregar'}"
                    [id] = "'id_label_descuento'"
                    [label] = "'Descuento'"
                    [text] = "transformCostos('Descuento') + '%'"
                    [class]="'w-full'"
                    (click)="onClickDescuento()" >
                </app-custom-label0>

                <app-custom-label0
                    [id] = "'id_label_costo_total'"
                    [label] = "'Costo Total'"
                    [text] = "transformCostos('Costo Total') | currency:'BOB':'Bs. '"
                    [class]="'w-full'" >
                </app-custom-label0>
            </div>
        </div>

        <div class="flex gap-4 w-full">
            <app-custom-button *ngIf="typeRecive != 'ver'"
                [id] ="'id_btn_guardar'"
                [label] ="'Guardar'"
                [type] ="'accept'"
                [icon] ="''"
                [class] ="''"
                [valid] ="formCotizacion.valid"
                (click)="onClickAgregarCotizacion()" >
            </app-custom-button>

            <app-custom-button
                [id] ="'id_btn_cancelar'"
                [label] ="'Cancelar'"
                [type] ="'cancel'"
                [icon] ="''"
                [class] ="''"
                [valid] ="true"
                (click)="onClickCancel()" >
            </app-custom-button>

            <app-custom-button *ngIf="typeRecive == 'ver'"
                [id] ="'id_btn_imprimir'"
                [label] ="'Imprimir'"
                [type] ="'accept'"
                [icon] ="''"
                [class] ="''"
                [valid] ="true"
                (click)="onClickPDF('imprimir')" >
            </app-custom-button>

            <app-custom-button *ngIf="typeRecive == 'ver'"
                [id] ="'id_btn_imprimir'"
                [label] ="'Descargar'"
                [type] ="'accept'"
                [icon] ="''"
                [class] ="''"
                [valid] ="true"
                (click)="onClickPDF('descargar')" >
            </app-custom-button>
        </div>

    </form>
</div>